In [1]:
!pip install imbalanced-learn

Collecting imbalanced-learn
  Downloading imbalanced_learn-0.12.4-py3-none-any.whl.metadata (8.3 kB)
Requirement already satisfied: numpy>=1.17.3 in /home/eanegrin/.venv/lib/python3.12/site-packages (from imbalanced-learn) (1.26.4)
Requirement already satisfied: scipy>=1.5.0 in /home/eanegrin/.venv/lib/python3.12/site-packages (from imbalanced-learn) (1.14.1)
Requirement already satisfied: scikit-learn>=1.0.2 in /home/eanegrin/.venv/lib/python3.12/site-packages (from imbalanced-learn) (1.5.2)
Requirement already satisfied: joblib>=1.1.1 in /home/eanegrin/.venv/lib/python3.12/site-packages (from imbalanced-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/eanegrin/.venv/lib/python3.12/site-packages (from imbalanced-learn) (3.5.0)
Downloading imbalanced_learn-0.12.4-py3-none-any.whl (258 kB)
Installing collected packages: imbalanced-learn
Successfully installed imbalanced-learn-0.12.4

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [2]:
import pandas as pd
import numpy as np

from imblearn.under_sampling import RandomUnderSampler

In [3]:
!gsutil cp /home/eanegrin/buckets/b1/datasets/competencia_03_fe_v02.parquet /home/eanegrin/datasets/

Copying file:///home/eanegrin/buckets/b1/datasets/competencia_03_fe_v02.parquet...
- [1 files][  6.9 GiB/  6.9 GiB]
Operation completed over 1 objects/6.9 GiB.

In [ ]:
base_path = '/home/eanegrin/'
dataset_path = base_path + 'datasets/'

dataset_file = 'competencia_03_fe_v02.parquet'

semillas = [122219, 109279, 400391, 401537, 999961]

In [ ]:
data = pd.read_parquet(dataset_path + dataset_file)

In [5]:
data['clase_binaria'] = 0
data['clase_binaria'] = np.where(data['clase_ternaria'] == 'BAJA+2', 1, 0)

In [ ]:
meses_excluidos = [201901,201902,201903,201904,
                   202108, 202109] # meses con clase ternaria incompleta

data = data[~data['foto_mes'].isin(meses_excluidos)]
data['foto_mes'].unique()

In [8]:
data.shape

(4066168, 682)

In [9]:
proportions = (
    data.groupby('foto_mes')['clase_binaria']
    .value_counts(normalize=True)
    .unstack(fill_value=0)
    .reset_index()
)

proportions.columns = ['foto_mes', 'proportion_0', 'proportion_1']
proportions

    foto_mes  proportion_0  proportion_1
0     201905      0.994830      0.005170
1     201906      0.995294      0.004706
2     201907      0.994729      0.005271
3     201908      0.995839      0.004161
4     201909      0.995712      0.004288
5     201910      0.995435      0.004565
6     201911      0.994700      0.005300
7     201912      0.995749      0.004251
8     202001      0.996513      0.003487
9     202002      0.998742      0.001258
10    202003      0.997469      0.002531
11    202004      0.996444      0.003556
12    202005      0.995842      0.004158
13    202006      0.995942      0.004058
14    202007      0.996520      0.003480
15    202008      0.996995      0.003005
16    202009      0.996439      0.003561
17    202010      0.996945      0.003055
18    202011      0.995981      0.004019
19    202012      0.996075      0.003925
20    202101      0.995155      0.004845
21    202102      0.993747      0.006253
22    202103      0.994007      0.005993
23    202104      0.992754      0.007246
24    202105      0.994466      0.005534
25    202106      0.993486      0.006514
26    202107      0.992165      0.007835

In [ ]:
df_subsampled = []

for mes, group in data.groupby("foto_mes"):

    X = group.drop(columns="clase_binaria")
    y = group["clase_binaria"]
    
    # Calculo la proporcion de bajas
    minority_proportion = y.value_counts(normalize=True).get(1, 0)
    # print(f'Original proportion:{minority_proportion}')
    
    # voy a incrementar esa proporcion por 10
    new_proportion = minority_proportion * 10

    rus = RandomUnderSampler(sampling_strategy=new_proportion, random_state=semillas[0])
    X_res, y_res = rus.fit_resample(X, y)

    # Rearmar
    group_resampled = pd.concat([X_res, y_res], axis=1)
    group_resampled["foto_mes"] = mes

    df_subsampled.append(group_resampled)

# Mergear
data = pd.concat(df_subsampled, ignore_index=True)

data.shape

In [ ]:
# proporciones luego de hacer el ajuste

proportions = (
    data.groupby('foto_mes')['clase_binaria']
    .value_counts(normalize=True)
    .unstack(fill_value=0)
    .reset_index()
)

proportions.columns = ['foto_mes', 'proportion_0', 'proportion_1']
proportions

    foto_mes  proportion_0  proportion_1
0     201905      0.950838      0.049162
1     201906      0.955050      0.044950
2     201907      0.949931      0.050069
3     201908      0.960052      0.039948
4     201909      0.958878      0.041122
5     201910      0.956339      0.043661
6     201911      0.949661      0.050339
7     201912      0.959220      0.040780
8     202001      0.966304      0.033696
9     202002      0.987580      0.012420
10    202003      0.975315      0.024685
11    202004      0.965657      0.034343
12    202005      0.960076      0.039924
13    202006      0.960998      0.039002
14    202007      0.966373      0.033627
15    202008      0.970823      0.029177
16    202009      0.965612      0.034388
17    202010      0.970354      0.029646
18    202011      0.961364      0.038636
19    202012      0.962230      0.037770
20    202101      0.953788      0.046212
21    202102      0.941149      0.058851
22    202103      0.943455      0.056545
23    202104      0.932436      0.067564
24    202105      0.947562      0.052438
25    202106      0.938842      0.061158
26    202107      0.927340      0.072660

In [13]:
output_file = 'competencia_03_fe_v02_undersampled_10_altbinaria.parquet'

data.to_parquet('/home/eanegrin/datasets/' + output_file, index=False)

In [14]:
!gsutil cp /home/eanegrin/datasets/competencia_03_fe_v02_undersampled_10_altbinaria.parquet /home/eanegrin/buckets/b1/datasets/

Copying file:///home/eanegrin/datasets/competencia_03_fe_v02_undersampled_10_altbinaria.parquet...
- [1 files][588.9 MiB/588.9 MiB]
Operation completed over 1 objects/588.9 MiB.